@media (min-width: 641px) {
    html {
        min-width: 1435px;
    }
}

@media (max-width: 640px) {
    html {
        min-width: 100%;
    }    
}

@media (min-width: 1435px) {
    html {
        max-width: 1435px;
    }
}
